.reminder {
  /* position: ; */
  display: flex;
  left: 0;
  /* bottom: 20%; */
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
  margin-top: 40px;
}

.inner {
  background: rgb(186, 181, 181);
  border-radius: 15px;
  width: 70%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}